<aside class="sidebar">
  <div class="sidebar-brand">
    <img src="assets/sentinel_logo.png" alt="Logo" class="brand-logo">
    <span class="brand-name">Sentinel</span>
  </div>

  <nav class="sidebar-nav">
    <ng-container *ngFor="let item of items">
      <a class="sidebar-link"
         [class.active]="activeItem === item.action"
         (click)="onItemClick(item.action)">
        <div class="link-icon">
          <i [class]="'bi ' + item.icon"></i>
        </div>
        <span>{{ item.label }}</span>
      </a>
    </ng-container>
  </nav></aside>
